.l-footer {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    background-color: #001022;
    margin-top: 70px;
}
.layout-grid{
    display:grid;
    gap: 3rem;
}

.color_footer-bottom {
    background: #000A16;
    color: #ffffff;
}
.footer-nav-title{
    color: #fff;
    font-family: sf-display-light;
    text-transform: uppercase;
}
li.menu-item:hover .footer-nav-title {
    color: #1D9BF0;
    font-weight: bolder;
}
.footer-menu .list-item a{
    color:white;
    font-family: sf-display-light;
}
    .footer-menu .list-item a:hover {
        color: #1D9BF0;
        
    }
.footer-menu .current-link {
    color: #1D9BF0;
    font-weight: bolder;
}
.footer-menu .menu-item .level_1 {
    font-size: 0.9rem;
}

.footer-menu .w-nav.type_desktop .w-nav-anchor.level_1 {
    z-index: 1;
    padding: 7px 12px 8px 12px;
    border-radius: 8px;
}
.footer-vti-address{
    font-family: sf-display-light;
    text-align: start;
}
.l-section-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.l-section.height_small > .l-section-h {
    padding: 2rem 0;
}

.l-section-h {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.l-sidebar, .l-section-h {
    padding-top: 3rem;
}

.padding-1010 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.upb_video_class, .vc_row, .wpb_column, .wpb_row {
    position: relative;
}

.g-cols {
    display: flex;
    flex-wrap: wrap;
}

.vc_column_container {
    display: flex;
    flex-direction: column;
}

.vc_col-sm-6 {
    width: 80%;
}

.fa-lg {
    font-size: 1.8em !important;
}

.fa-sm {
    font-size: 1.2em;
}
.social-icons > *{
    margin-right: 11px;
}
.social-icons span{
    line-height: 29px;
}

.svg-inline--fa.fa-lg {
    vertical-align: -0.325em !important;
}

.modify-icon:hover{
    text-decoration: none;
}

.modify-icon img{
    width:24px;
    height:24px;
}


.vc_column_container {
    display: flex;
    flex-direction: column;
}

.content-center {
    align-items: center;
}

.vc_column-inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
}

.vc_col-sm-3 {
    width: 15%;
}

.vc_column_container {
    display: flex;
    flex-direction: column;
}

.upb_video_class, .vc_row, .wpb_column, .wpb_row {
    position: relative;
}

.wpb_wrapper {
    color: #fff !important;
}

ul.address-list {
    list-style: none;
    margin-bottom: 15px;
    text-align: justify;
}

    ul.address-list li::before {
        content: "・";
        color: white;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }

.gap-10px > .vc_column_container {
    padding: 10px;
}

.vc_col-sm-1\/5 {
    width: 50%;
    height: 110px;
}

.vc_column_container {
    display: flex;
    flex-direction: column;
}

.g-cols.type_default > div > .vc_column-inner > .wpb_wrapper > .w-image {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#footer-logo {
    max-width: 256px;
}

.l-section.color_primary .w-image, .l-section.color_secondary .w-image, .l-section.color_custom .w-image {
    border-color: rgba(255, 255, 255, 0.33);
}
img {
    height: auto;
    max-width: 100%;
}

#page-footer .w-image img {
    vertical-align: top;
}

.cmmi-padding {
    padding-left: 0.5rem;
}

#footer-info .footer-flag p {
    margin-bottom: 15px !important;
    overflow: hidden;
}

.footer-flag{
    margin-bottom: 15px;
}

#page-footer p {
    margin-bottom: 0 !important;
}

#footer-info .footer-flag p img {
    margin: 20px 20px 10px 0px;
    float: left;
}

#page-footer img {
    vertical-align: middle;
    border-style: none;
}

#footer-info .icon-info p {
    margin-bottom: 10px !important;
    overflow: hidden;
    color: #fff;
}
    #footer-info .icon-info p img {
        margin-right: 25px;
        max-width: 30px;
        -o-object-fit: contain;
        object-fit: contain;
        float: left;
    }


#footer-certified > .vc_column-inner > .wpb_wrapper > .vc_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: left;
    margin-top: 1.5rem;
}

.vc_col-sm-4 {
    width: 33.3333%;
}

.vc_col-xs-3 {
    width: 25%;
    margin-right: 15px;
}

#footer-certified > .vc_column-inner > .wpb_wrapper > .vc_inner .certification {
    margin-left: -1rem;
    margin-right: -1.5rem;
    text-align: center;
}

#footer-certified > .vc_column-inner > .wpb_wrapper > .vc_inner .certification img {
    max-width: 165px;
    width: 100%;
}

.flex-column {
    flex-direction: column;
}

#page-footer hr {
    width: 100%;
}

.padding-85 {
    padding-bottom: 2.5rem;
}

.mg-top-6 {
    margin-top: 6px;
}

.mg-bottom-22 {
    margin-bottom: 22px;
}

#page-footer .sm-hr {
    border-color: rgba(255, 255, 255, 0.05) !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#page-footer .fa-sm:hover {
    color: #031840 !important;
}
#page-footer .lg-hr {
    border-color: rgba(255, 255, 255, 0.05) !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#page-footer .font-20 {
    font-size: 20px !important;
    margin-bottom: 15px;
}

#page-footer b, #page-footer strong {
    font-weight: 500 !important;
}

.w-socials-list {
    margin: -0.1em;
    font-size: 15px;
    float: right;
}

.l-footer .w-socials-item-link {
    color: white
}

.l-footer .w-socials-item-link img {
    width:24px;
    height:24px;
}

span.text-danger.field-validation-error {
    color: red !important;
}

@media (max-width: 1440px) {
    .footer-login .text-center {
        font-size: 30px !important;
    }
}

@media (max-width: 1024px) {
    .footer-login .text-center {
        font-size: 40px !important;
    }
    .l-footer .footer-body {
        padding: 0;
    }

    #page-footer .l-footer p, .l-footer span {
        cursor: none;
    }

    #page-footer .row {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0rem;
    }

    .wpb_text_title {
        font-size: 2rem;
        padding: .75rem 0;
    }

    #page-footer .vc_col-sm-1\/5 {
        width: 75%;
        height: auto;
        margin-bottom: 70px;
    }

    #footer-certified {
        margin-top: 25px;
    }

    #page-footer .padding-85 {
        padding-bottom: 2.5rem;
    }

    #page-footer .w-socials-list {
        float: unset;
        text-align: center;
        width: 122%;
    }

    #page-footer .circle img {
        max-width: unset !important;
        height: 100% !important;
    }

    #footer-certified > .vc_column-inner > .wpb_wrapper > .vc_inner .certification {
        margin-left: -0rem;
        margin-right: -0rem;
        text-align: center;
    }

    #page-footer .g-cols.type_default > div > .vc_column-inner > .wpb_wrapper > .w-image {
        padding-left: 0rem;
        padding-right: 2rem;
    }

    .cmmi-padding {
        padding-left: unset;
        padding-top: 1rem;
    }

    #page-footer .align-items-center {
        margin-top: unset;
    }

    #page-footer .l-footer p {
        font-size: 20px !important;
    }

    #footer-info .footer-flag p img {
        margin: 0px;
    }

    #page-footer .text-center {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    #page-footer div.w-socials-item.facebook > a > span > svg:hover, div.w-socials-item.linkedin > a > span > svg:hover {
        color: white;
    }

    .mg-bottom-22 {
        margin-bottom: 0px;
    }

    #footer-info .footer-flag p {
        margin-bottom: 10px !important;
        overflow: hidden;
    }
    .footer-login .sec-container {
        width: 100%;
        margin: 0 15px;
    }
}

@media (max-width: 768px) {
    #page-footer .is-mobile.l-footer img.attachment-full {
        max-width: 75%;
    }

    #page-footer .vc_col-sm-1\/5 {
        margin-bottom: 45px;
    }

    #page-footer .wpb_text_title {
        font-size: 1.5rem;
    }

    #page-footer .l-footer p {
        font-size: 18px !important;
    }

    #footer-info .footer-flag p img {
        height: 24px;
        width: 24px;
    }
    .footer-login .text-center {
        font-size: 28px !important;
    }

}

@media (max-width: 440px) {
    #page-footer .is-mobile.l-footer img.attachment-full {
        max-width: 75%;
    }

    #page-footer .vc_col-sm-1\/5 {
        margin-bottom: 45px;
    }

    #page-footer .wpb_text_title {
        font-size: 1.3rem;
    }

    #page-footer .l-footer p {
        font-size: 16px !important;
    }

    .footer-login .text-center {
        font-size: 20px !important;
    }
}

@media (max-width: 350px) {
    #page-footer .row {
        margin-bottom: -2.5rem;
    }
    .footer-login .text-center {
        font-size: 18px !important;
    }
}
